*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 100%), url(1.png);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: 0px;
}

.icon{
    width: 600px;
    float: left;
    height: 100px;
}

.logo{
    color: #4682B4;
    font-size: 50px;
    font-family: Cambria;
    padding-left: 50px;
}