*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 100%), url(1.png);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 100%;
    height: 90px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    border-bottom: 1px;
    border-color: black;
}

.icon{
    width: 600px;
    height: 100px;
}

.logo{
    color: #4682B4;
    font-size: 50px;
    font-family: Cambria;
    padding-left: 50px;
    float: left;
    padding-top: 17px;
}

.menu{
    width: 600px;
    height: 100px;
    margin-right: 20px;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-right: 62px;
    margin-top: 37px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: #4682B4;
    font-family: Cambria;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: black;
}

.form{
    width: 25%;
    height: 15%;
    background-color: transparent;
    position: absolute;
    top: 40%;
    left: 38.5%;
    border-radius: 10px;
    padding: 25px;
}   

.form h2{
    width: 100%;
    font-family: Cambria;
    text-align: center;
    color: #4682B4;
    font-size: 25px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 100%;
    height: 50%;
    background: transparent;
    border-bottom: 1px solid #4682B4;
    border-top: none;
    border-right: none;
    border-left: none;
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: Cambria;
}

.form input :focus{
    outline: none;
}

::placeholder{
    color: steelblue;
    font-family: Cambria;
}

.btn{
    width: 100%;
    font-family: Cambria;
    text-align: center;
    color: black;
    font-size: 25px;
    background-color: #4682B4;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover{
    background: aliceblue;
    color: steelblue;
}

.btn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}