# OpenAI and LangChain
OPENAI_API_KEY=
LANGCHAIN_API_KEY=
HUGGINGFACEHUB_API_TOKEN=

# Vector store and document storage
GCS_BUCKET_NAME=
VECTORSTORE_DIR=chroma_db
GCS_VECTORSTORE_PREFIX=
GCS_PDF_PREFIX=

# Telegram bot
TELEGRAM_BOT=

